---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// The following is custom code (not from Minimal Mistakes)
html {
    // Make some fonts smaller as they were too big
    h3 {
        font-size: 1em;
    }
    li {
        font-size: 16px !important;
    }

    #main {
        max-width: 100%;
    }

    // Make the top bar sticky
    body {
        padding-top: 85px !important;
    }
    .masthead {
        position: fixed;
        top: 0;
        width: 100%;
        background: $background-color;
        height: 85px;
    }
    .sticky {
        padding-top: 50px;
    }
}
